// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $blue: #3563E9;
$violet: #421C86;
$light: #E6EDFD;
$super-light: #FAF9FF;
$light-gray: #F3F7FF;
$gray: #a6a6a6;
$black: #000;
$white: #fff;

@mixin fz12() {
  font-size: 12px !important;
  line-height: 14px !important;
  font-weight: 400 !important;
}
@mixin fz14() {
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
}
@mixin fz16() {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
@mixin fz18() {
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 22px !important;
}
@mixin fz20() {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 30px !important;
}
@mixin fz24() {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}
@mixin fz30() {
  font-size: 30px !important;
  line-height: 39px !important;
  font-weight: 700 !important;
}
@mixin fz36() {
  font-size: 36px !important;
  line-height: 44px !important;
  font-weight: 700 !important;
}